.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    max-width: 700px;
    margin: 10px 30px 50px 30px;

        p {
            font-size: 18px;
            font-weight: 400;
            margin: 20px;
            color: grey;
        }

        p a{
            text-decoration: none;
            color: blue;
        }
}

@media (max-width: 1340px) {
    .container p {
        font-size: 17px;
    }
}

@media (max-width: 1200px) {
    .container p {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .container p {
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    .container p {
        font-size: 14px;
    }
}

