#root {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

html {
    height: 100%;
    background-image: url("assets/sverige43.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html, body {
    overflow-y: scroll;
    overscroll-behavior: none;
    overscroll-behavior-y: contain;
    height: 100%;
}
