#root {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

html {
    background-clip: border-box;
    background-origin: border-box;
}

html, body {
    overflow-y: scroll;
    overscroll-behavior: none;
    overscroll-behavior-y: contain;
    height: 100%;
}
